DirectoryIndex index.html Dispatcher.php index.htm
Options -Indexes

SetEnv routerDir "tools"
RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(Dispatcher\.php|upload|static|css|images|img|js|favicon\.ico)
RewriteRule .* Dispatcher.php [QSA,L]
RewriteRule ^/_remote/?m_id=(.*) Dispatcher.php?m_id=$1 [QSA,L]
